html,
body {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.liniar-c {
    background: linear-gradient(90deg, rgba(85, 142, 219, 1) 3%, rgba(94, 95, 210, 1) 74%, rgba(102, 51, 201, 1) 96%);
}

.colour-btn {
    background-color: rgba(90, 107, 214);
}
/* 
/* =======
    margin: 0px;
    padding: 0px;
} */
*/ #owl-demo .item img {
    width: 100%;
    height: 600px;
}

h1,
h2,
h3,
h4,
h5,
span,
p,
a {
    font-family: 'Jost', sans-serif;
}


#single-service-card {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#owl-demo .item img {

    width: 100%;
    height: 600px;
}


#single-project-card {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#footer-section-down {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#footer-contact {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#preloader {
    background: white url('../images/loader.gif') no-repeat center center;
    background-size: 50%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index:100;
}
